<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div th:replace="nav :: navbar">

</div>

<div class="container pt-4">
    <h2>Add Product to List</h2>
    <hr>
<form action="#"  th:action="@{/user/addProduct1}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control"  th:field="*{name}" id="name" placeholder="Name of products">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price"  th:field="*{price}" placeholder="Price of Product">
    </div>
    <button type="submit" class="btn btn-primary">ADD PRODUCT</button>
</form>
</div>
</body>
</html>