<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ALl Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div th:replace="nav :: navbar">

</div>

    <div class="container mx-auto pt-3">
        <br>
        <br>
        <table class="table table-striped">
            <caption style="display:none;">Users Table</caption>
            <thead class="table-dark">

            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.firstName}"/>
                <td th:text="${user.lastName}"/>
                <td th:text="${user.email}"/>
                <td th:text="${user.phone}"/>

            </tr>
            </tbody>


        </table>

    </div>
</body>
</html>