<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ALl Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Product Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="color:white;">
                Hello, <span style="color:white;"     th:text="${userName}">title</span>
            </li>
            &nbsp;
            &nbsp;
            <li class="nav-item">
                <form action="#" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-success btn-sm">Logout</button>
                </form>
            </li>

        </ul>
    </div>
</nav>
    <div class="container mx-auto pt-3">
        <br>
        <br>
        <table class="table table-striped">
            <thead class="table-dark">
            <caption>Users Table</caption>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.firstName}"/>
                <td th:text="${user.lastName}"/>
                <td th:text="${user.email}"/>
                <td th:text="${user.phone}"/>

            </tr>
            </tbody>


        </table>

    </div>
</body>
</html>