<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div th:replace="nav :: navbar">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("nav.html");
});
</script>
<div class="container pt-3">
    <div class="jumbotron pt-3">
        <h1 class="display-4">List Of Products</h1>
        <p class="lead">This will display you list of products</p>
        <hr class="my-4">
        <p>Click on the below button to list all the products</p>
        <p class="lead">
            <a class="btn btn-primary btn-mg" th:href="@{/user/allProducts}" role="button">click Here</a>
        </p>
    </div>

</div>


</body>
</html>